**/__pycache__/
**/.ipynb_checkpoints/

\[sunset\]/*

.sample.csv.temp
.vscode/settings.json
.DS_Store
.env
*.code-workspace
*.csv
demo/PETsARD*Executor.txt
demo/PETsARD*Trial*.csv
demo/.sample.csv.temp*
