###### ###### ###### ###### ###### ######
# PETsARD
###### ###### ###### ###### ###### ######

# temporary
**/*.csv
**/PETsARD*Executor.txt
**/PETsARD*Trial*.csv
**/log.txt

# abandoned
**/\[sunset\]



###### ###### ###### ###### ###### ######
# 3rd-party temporary
###### ###### ###### ###### ###### ######

# SDV
**/.sample.csv.temp*



###### ###### ###### ###### ###### ######
# Enviroment related
###### ###### ###### ###### ###### ######

# Byte-compiled
**/__pycache__

# Jupyter Notebook
**/.ipynb_checkpoints

# Distribution
**/*{env,venv}

# Mac
**/.DS_Store

# VSCode
**/.vscode
**/.code-workspace
