absl-py==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
anonymeter==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.10" and python_version < "3.11"
appnope==0.1.4 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Darwin"
asttokens==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
attrs==24.3.0 ; python_version >= "3.10" and python_version < "3.11"
boto3==1.35.92 ; python_version >= "3.10" and python_version < "3.11"
botocore==1.35.92 ; python_version >= "3.10" and python_version < "3.11"
certifi==2024.12.14 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.11" and implementation_name == "pypy"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "3.11"
chex==0.1.88 ; python_version >= "3.10" and python_version < "3.11"
click-option-group==0.5.6 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.8 ; python_version >= "3.10" and python_version < "3.11"
cloudpickle==3.1.0 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform == "win32" or platform_system == "Windows")
comm==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
copulas==0.12.0 ; python_version >= "3.10" and python_version < "3.11"
ctgan==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
debugpy==1.8.11 ; python_version >= "3.10" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.11"
deepecho==0.6.1 ; python_version >= "3.10" and python_version < "3.11"
dotty-dict==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
etils[epy]==1.11.0 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
executing==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
faker==33.3.0 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.16.1 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.55.3 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2024.12.0 ; python_version >= "3.10" and python_version < "3.11"
gitdb==4.0.12 ; python_version >= "3.10" and python_version < "3.11"
gitpython==3.1.44 ; python_version >= "3.10" and python_version < "3.11"
graphviz==0.17 ; python_version >= "3.10" and python_version < "3.11"
greenlet==3.1.1 ; python_version < "3.11" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
idna==3.10 ; python_version >= "3.10" and python_version < "3.11"
immutabledict==4.2.1 ; python_version >= "3.10" and python_version < "3.11"
importlab==0.8.1 ; python_version >= "3.10" and python_version < "3.11"
importlib-resources==6.5.2 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
ipykernel==6.29.5 ; python_version >= "3.10" and python_version < "3.11"
ipython==8.31.0 ; python_version >= "3.10" and python_version < "3.11"
jax==0.4.38 ; python_version >= "3.10" and python_version < "3.11"
jaxlib==0.4.38 ; python_version >= "3.10" and python_version < "3.11"
jedi==0.19.2 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.5 ; python_version >= "3.10" and python_version < "3.11"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.11"
jupyter-client==8.6.3 ; python_version >= "3.10" and python_version < "3.11"
jupyter-core==5.7.2 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.8 ; python_version >= "3.10" and python_version < "3.11"
libcst==1.5.1 ; python_version >= "3.10" and python_version < "3.11"
llvmlite==0.43.0 ; python_version >= "3.10" and python_version < "3.11"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.11"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.10.0 ; python_version >= "3.10" and python_version < "3.11"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
ml-dtypes==0.5.0 ; python_version >= "3.10" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
msgspec==0.19.0 ; python_version >= "3.10" and python_version < "3.11"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.11"
networkx==3.4.2 ; python_version >= "3.10" and python_version < "3.11"
ninja==1.11.1.3 ; python_version >= "3.10" and python_version < "3.11"
numba==0.60.0 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.11"
nvidia-cublas-cu12==12.4.5.8 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cuda-cupti-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cuda-nvrtc-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cuda-runtime-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cufft-cu12==11.2.1.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-curand-cu12==10.3.5.147 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cusolver-cu12==11.6.1.9 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cusparse-cu12==12.3.1.170 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-nccl-cu12==2.21.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-nvjitlink-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-nvtx-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
opacus==0.14.0 ; python_version >= "3.10" and python_version < "3.11"
opendp==0.10.0 ; python_version >= "3.10" and python_version < "3.11"
opt-einsum==3.4.0 ; python_version >= "3.10" and python_version < "3.11"
optax==0.2.4 ; python_version >= "3.10" and python_version < "3.11"
pac-synth==0.0.8 ; python_version >= "3.10" and python_version < "3.11"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.11"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "3.11"
parameterized==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
parso==0.8.4 ; python_version >= "3.10" and python_version < "3.11"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==11.1.0 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==4.3.6 ; python_version >= "3.10" and python_version < "3.11"
plotly==5.24.1 ; python_version >= "3.10" and python_version < "3.11"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
private-pgm @ git+https://github.com/ryan112358/private-pgm.git@b84fd830dde052cb2c6dce7b0b12c5c3828772d3 ; python_version >= "3.10" and python_version < "3.11"
prompt-toolkit==3.0.48 ; python_version >= "3.10" and python_version < "3.11"
psutil==6.1.1 ; python_version >= "3.10" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "3.11"
pycnite==2024.7.31 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.11" and implementation_name == "pypy"
pydantic-core==2.27.2 ; python_version >= "3.10" and python_version < "3.11"
pydantic==2.10.4 ; python_version >= "3.10" and python_version < "3.11"
pydot==3.0.4 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.19.0 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.2.1 ; python_version >= "3.10" and python_version < "3.11"
pytest==8.3.4 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.11"
python-gitlab==4.13.0 ; python_version >= "3.10" and python_version < "3.11"
python-semantic-release==9.15.2 ; python_version >= "3.10" and python_version < "3.11"
pytype==2024.10.11 ; python_version >= "3.10" and python_version < "3.11"
pytz==2024.2 ; python_version >= "3.10" and python_version < "3.11"
pywin32==308 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.11"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.11"
pyzmq==26.2.0 ; python_version >= "3.10" and python_version < "3.11"
rdt==1.13.2 ; python_version >= "3.10" and python_version < "3.11"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.11"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.11"
s3transfer==0.10.4 ; python_version >= "3.10" and python_version < "3.11"
scikit-learn==1.6.0 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.15.0 ; python_version >= "3.10" and python_version < "3.11"
sdmetrics==0.16.0 ; python_version >= "3.10" and python_version < "3.11"
sdv==1.17.1 ; python_version >= "3.10" and python_version < "3.11"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.11"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.11"
smartnoise-sql==1.0.4 ; python_version >= "3.10" and python_version < "3.11"
smartnoise-synth==1.0.4 ; python_version >= "3.10" and python_version < "3.11"
smmap==5.0.2 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy==2.0.36 ; python_version >= "3.10" and python_version < "3.11"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.11"
sympy==1.13.1 ; python_version >= "3.10" and python_version < "3.11"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tenacity==9.0.0 ; python_version >= "3.10" and python_version < "3.11"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.13.2 ; python_version >= "3.10" and python_version < "3.11"
toolz==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
torch==2.5.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.4.2 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.11"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "3.11"
triton==3.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.11" and python_version >= "3.10"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.2 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.3.0 ; python_version >= "3.10" and python_version < "3.11"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.11"
wheel==0.43.0 ; python_version >= "3.10" and python_version < "3.11"
